@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    /* background-color: black; */
    
}


#cardbg{
    /* backdrop-filter: blur(50px); */
    /* background-image: url('./avatar.png')   ; */
    background-repeat: no-repeat;
    
}



.sidebar{
    border-right: .4px solid rgb(132, 132, 132);
}

.bgo{
    /* background: rgb(173, 173, 173) 0; */
}
.activeClass{
        color: rgb(0, 171, 85);
        /* background-color: rgb(91, 122, 91); */
    /* margin: 50px; */
}