@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    /* background-color: black; */
    transition: all ease .5s;

}


#cardbg{
    /* backdrop-filter: blur(50px); */
    /* background-image: url('./avatar.png')   ; */
    background-repeat: no-repeat;
    
}



.sidebar{
    border-right: .4px solid rgb(132, 132, 132);
}

.bgo{
    /* background: rgb(173, 173, 173) 0; */
}
.activeClass{
        color: rgb(0, 171, 85);
        /* background-color: rgb(91, 122, 91); */
    /* margin: 50px; */
}

.animSide{
    transition: all ease .5s;
}
.NavOver{
    
    background-color:	rgb(255,255,255,.5);
    /* background-color:		rgb(240,255,240 , .5); */
    
}

.sideborder{
    border-right: 2px dotted rgb(220, 220, 220) ;
}


@media (min-width: 640px) and (max-width:810px) {
    .NavOver{
        width: 130vw;
    }
}